.overlay {
    align-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    justify-items: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay.show {
    opacity: 1;
}

.modal {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    padding: 20px;
    width: 90%;
    z-index: 1000;
    transform: translateY(-20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.modal.show {
    transform: translateY(0);
    opacity: 1;
}
